@model CustomerViewModel
<form action="@Url.Action(nameof(CustomerController.DeleteCustomerConfirmation), new { id = Model.Id })" method="post">
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h3 class="modal-title">@Labels.DeleteCustomer</h3>       
    </div>
    <div class="modal-body">
        <p>@string.Format(Labels.DeleteCustomerConfirmation, Model.Name)</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">@Labels.Ok</button>
        <a href="@Url.Action(nameof(CustomerController.CustomerOverview))" class="btn btn-secondary button">@Labels.Cancel</a>
    </div>
</form>
